
[Bb]in/
[Oo]bj/

.idea/
*.sln.dotSettings.user


.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

*.user
*.userosscache
*.suo
*.log
TestResults/
